@tailwind base;
@tailwind components;
@tailwind utilities;

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

form {
  width: 100%;
}

input {
  height: 3rem;
  width: 100%;
  border-radius: 0.375rem;
  outline: 2px solid transparent;
  outline-offset: 2px;
}

input {
  border-width: 1px;
  --tw-border-opacity: 1;
  border-color: rgb(163 163 163 / var(--tw-border-opacity));
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

main {
  max-width: 1280px;
  @apply w-full pt-20 px-6;
}

nav > div {
  max-width: 1280px;
  @apply px-6;
}

input,
button {
  @apply w-full h-12 rounded-md outline-none;
}

input {
  @apply px-2 border border-neutral-400;
}

.file-input {
  @apply px-2 border-0 mt-4;
}

::backdrop {
  background: rgba(0, 0, 0, 0.5);
}

#error-message {
  @apply text-red-500;
}

.mapboxgl-popup-content {
  @apply rounded-lg !important;
}

.mapboxgl-popup-close-button {
  @apply flex justify-center items-center pb-[2.5px] h-5 w-5 top-4 right-4 bg-white rounded-full hover:bg-slate-200 duration-150 !important;
}
