<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0"
    />
    <link
      rel="stylesheet"
      href="/app.css"
    />
   
    <script
      src="../mixhtml.js"
      defer
    ></script>
    <script src="https://api.mapbox.com/mapbox-gl-js/v2.6.1/mapbox-gl.js"></script>
    <link
    href="https://api.mapbox.com/mapbox-gl-js/v2.6.1/mapbox-gl.css"
    rel="stylesheet"
    />
    <script
      src="../app.js"
      async
    ></script>
    <title>{{ get("title", "Company") }}</title>
    <style>
      .mix-error {
      	border-color: tomato;
      }
      .mix-hidden {
      	display: none;
      }
    </style>
  </head>
  <body class="w-full max-w-screen-xl mx-auto h-screen overflow-x-hidden bg-primaryCol">
    <div id="toast"></div>

    <nav
      class="fixed bg-white max-w-full left-0 z-10 gap-4 w-full h-16 items-center px-2"
    >
      <div class="mx-auto flex items-center justify-between h-full 2xl:px-4">
        <a
          href="/"
          class=" 
              flex items-center h-12 px-4 font-bold text-2xl text-white bg-accentCol rounded-md"
        >
          bottleBnB
        </a>
  
  			<div>
  			  <div class="flex gap-4 ml-auto mx-auto w-full justify-evenly">
            % if get("is_admin", False):
    				<a href="/profile"> Dashboard </a>
            % else:
            % if get("is_logged", False):
    				<a href="/profile"> Profile </a>
            % end
            % end
    				% if get("is_logged", False):
    				<a href="/logout"> Logout </a>
    				% else:
    				<a href="/login"> Login </a>
    				% end
          </div>
  			</div>
      </div>
		</nav>