<div id="property_{{property['property_pk']}}">    
    <img src="../images/{{property['property_images']}}" alt="property image"
    class="property_image w-full aspect-square object-cover rounded-lg">
    <p class=" flex flex-col-2">
        <div>
            <h3 class="font-bold">{{property['property_name']}}</h3>
            <p>{{property['property_description']}}</p>
        </div>
        <div class="font-semibold">
            {{property['property_price_pr_night']}} DKK
        </div>
    </p>
    % if is_admin == True:
        % if property['property_is_blocked'] == '1':
        <form id="{{property['property_pk']}}">
            <button class="bg-black text-cyan-50"
                mix-data="[id='{{property['property_pk']}}']"
                mix-put="/unblock_property/{{property['property_pk']}}"
            >
            Property blocked
            </button>
        </form>
        % else:
        <form id="{{property['property_pk']}}">
            <button class="bg-black text-cyan-50"
                mix-data="[id='{{property['property_pk']}}']"
                mix-put="/block_property/{{property['property_pk']}}"
            >
                Admin block
            </button>
        </form>
    % end
    % end
</div>