<div class='hover:shadow-lg flex flex-col max-h-[460px] p-2 duration-100 bg-white rounded-lg' id="property_{{property['property_pk']}}">    
    <img src="../images/{{property['property_images']}}" alt="property image"
    class="property_image w-full aspect-[12/10] object-cover rounded-lg">
    <div class="flex flex-col p-1 h-full text-secondaryCol">
        <div>
            <h3 class="font-bold text-2xl">{{property['property_name']}}</h3>
            <p class='text-gray-500'>{{property['property_description']}}</p>
        </div>

            

    
        % if is_admin == False:
            % if property['property_is_blocked'] == '1':
            <form id="{{property['property_pk']}}">
                <button class="bg-secondaryCol text-cyan-50"
                    mix-data="[id='{{property['property_pk']}}']"
                    mix-put="/unblock_property/{{property['property_pk']}}"
                >
                Property blocked
                </button>
            </form>
            % else:
            <form id="{{property['property_pk']}}">
                <button class="bg-secondaryCol text-cyan-50"
                    mix-data="[id='{{property['property_pk']}}']"
                    mix-put="/block_property/{{property['property_pk']}}"
                >
                    Admin block
                </button>
            </form>
        % end
        % end
    
        <div class='flex flex-col gap-2 mt-auto'>
            <h3 class=" mt-3 font-bold italic text-secondaryCol text-2xl">

                {{property['property_price_pr_night']}} DKK
            </h3>

            <div class='flex gap-3'>
                <button class='bg-white border border-accentCol rounded-lg text-accentCol hover:border-transparent hover:text-white hover:bg-accentCol duration-100 w-full py-2'>view on map</button>
                <button class='bg-accentCol border border-transparent rounded-lg text-white hover:border-accentCol hover:text-accentCol hover:bg-white duration-100 w-full py-2'>book now</button>
            </div>
        </div>
    </div>
    
</div>