% include('_header.html', title='Welcome')

<main class="flex pt-16">
  <div class="w-full h-full">
    <div class="fixed w-[calc(50%-0.5rem)] h-[calc(100%-5rem)] bg-neutral-100">
      <div
        id="map"
        class="w-full h-full rounded-lg"
	  >
	  </div>
	</div>
  </div>
  <div class="w-full pb-16 px-4">
    <div
      id="property"
      class="grid grid-cols-3 gap-3"
    >
      % for property in properties:
      <!--  -->
      % include("_property")
      <!--  -->
      % end
    </div>
    <button
      id="more"
      class="block w-1/3 text-white bg-dragon-fruit mx-auto m-4"
      mix-get="/properties/page/2"
      mix-default="more"
      mix-await="Please wait..."
    >
      Load more
    </button>
  </div>
</main>

% include('_footer.html')
