% include('_header.html')
<main class="pt-20">
    <div id="property_details" class="flex flex-col gap-4 p-16">
        <div class="flex items-center justify-start h-1/3 gap-6 overflow-y-scroll p-2 bg-white rounded-lg shadow-lg">
            % for property_image in property_images:
                <div id="property_image_{{property_image.split('.')[0]}}" class="relative w-1/3 h-1/3 p-4 flex-shrink-0">
                    <img 
                        src='../../images/{{property_image}}' 
                        alt='property image' 
                        class='property_image w-full aspect-square object-cover rounded-lg'
                    >
                </div>
            % end
        </div>
        <div class="flex justify-between p-4">
            <div class="flex w-1/2 gap-40">
                <div class="flex flex-col gap-2">
                        <label>
                            <h2 class="text-accentCol mr-2">Name</h2>
                            <p>{{property['property_name']}}</p>
                        </label>
                        <label>
                            <h2 class="text-accentCol mr-2">Description</h2>
                            <p>{{property['property_description']}}</p>
                        </label>
                        <label>
                            <h2 class="text-accentCol mr-2">Rating</h2>
                            <p>{{property['property_rating']}}</p>
                        </label>
                </div>
                <div class="flex flex-col gap-2">
                    <label>
                        <h2 class="text-accentCol mr-2">Address</h2>
                        <p>{{property['property_address']}}</p>
                    </label>
                    <label>
                        <h2 class="text-accentCol mr-2">Country</h2>
                        <p>{{property['property_country']}}</p>
                    </label>
                    <label>
                        <h2 class="text-accentCol mr-2">Postal code</h2>
                        <p>{{property['property_postal_code']}}</p>
                    </label>
                </div>
            </div>
            <div class="h-1/5 border border-secondaryCol bg-white p-4 rounded-md shadow-md">
                <label>
                    <h3 class="font-bold italic text-secondaryCol text-2xl mb-2">
                        {{property['property_price_pr_night']}} kr DKK <span class="not-italic font-normal text-lg">night</span>
                    </h3>
                </label>
                % if property['property_booking_fk'] != '0':
                    <form id="{{property['property_pk']}}"> 
                        <button 
                            class="bg-accentCol border border-transparent rounded-lg text-white hover:border-accentCol hover:text-accentCol hover:bg-white duration-100 w-full py-2"
                            mix-data="[id='{{property['property_pk']}}']"
                            mix-put="/unbook_property/{{property['property_pk']}}"
                        >
                            unbook property
                        </button>
                % else:
                    <form id="{{property['property_pk']}}">
                        <button 
                            class="bg-accentCol border border-transparent rounded-lg text-white hover:border-accentCol hover:text-accentCol hover:bg-white duration-100 w-full py-2"
                            mix-data="[id='{{property['property_pk']}}']"
                            mix-post="/book_property/{{property['property_pk']}}"
                        >
                            book property
                        </button>
                    </form>
                % end
            </div>
        </div>
    </div>
</main>
% include('_footer.html')