%import x
<!--  -->
%include("_header")

<main>
  <form id="frm_reset_pw">
    <input
      name="user_new_password"
      mix-check="{{x.USER_PASSWORD_REGEX}}"
      placeholder="new password"
      type="password"
    />
    <input
      name="user_new_password_confirm"
      mix-check="{{x.USER_PASSWORD_REGEX}}"
      placeholder="confirm new password"
      type="password"
    />
    <button
      class="w-full bg-accentCol text-white"
      mix-put="/reset_password/{{key}}"
      mix-data="#frm_reset_pw"
    >
      Save new password
    </button>
  </form>
</main>

%include("_footer")
