%include("_header")
<!--  -->
%import x
<main class="flex flex-col gap-2 h-full items-center justify-center">
  <form
    id="frm_signup"
    class="flex flex-col gap-2 w-full mx-4 md:w-1/2"
  >
    <input
      name="user_email"
      class="w-full border"
      type="text"
      placeholder="email"
      mix-check="{{x.USER_EMAIL_REGEX}}"
    />
    <input
      name="user_username"
      class="w-full border"
      type="text"
      placeholder="username"
      mix-check="{{x.USER_USERNAME_REGEX}}"
    />

    <input
      name="user_name"
      class="w-full border"
      type="text"
      placeholder="first name"
      mix-check="{{x.USER_NAME_REGEX}}"
    />
    <input
      name="user_last_name"
      class="w-full border"
      type="text"
      placeholder="last name"
      mix-check="{{x.USER_LAST_NAME_REGEX}}"
    />
    <input
      name="user_new_password"
      class="w-full border"
      type="password"
      placeholder="password"
      value=""
      mix-check="{{x.USER_PASSWORD_REGEX}}"
    />
    <input
      name="user_new_password_confirm"
      class="w-full border"
      type="password"
      placeholder="confirm password"
      value=""
      mix-check="{{x.USER_PASSWORD_REGEX}}"
    />
    <div
      id="role"
      class="flex flex-col items-start gap-3 w-1/4"
    >
      <div class="flex w-full justify-between items-center">
        <label for="user_role">
          <span>Customer:</span>
        </label>
        <input
          required
          class="accent-accentCol w-5 cursor-pointer"
          type="radio"
          name="user_role"
          value="0"
          id="user_role_customer"
          mix-check="{{x.USER_ROLE_REGEX}}"
        />
      </div>

      <div class="flex w-full justify-between items-center">
        <label for="user_role">
          <span>Partner:</span>
        </label>
        <input
          required
          class="accent-accentCol w-5 cursor-pointer"
          type="radio"
          name="user_role"
          value="1"
          id="user_role_partner"
          mix-check="{{x.USER_ROLE_REGEX}}"
        />
      </div>
    </div>
    <button
      class="w-full bg-accentCol text-white"
      mix-post="/signup"
      mix-data="#frm_signup"
    >
      Create user
    </button>
  </form>
  <div id="message"></div>
</main>
