% include('_header.html', title='Welcome')
<main class="flex flex-col h-full items-center gap-y-4 pt-20">
	<h1 class="text-accentCol text-5xl">
		Your account has been suspended!
	</h1>
    <h2 class="text-2xl mt-4">Possible reasons:</h2>
    <ul class="list-disc list-inside">
        <li>Violation of our terms of service</li>
        <li>Suspicious activity detected</li>
        <li>Multiple reports from other users</li>
    </ul>

    <h2 class="text-2xl mt-4">What to do next:</h2>
    <ul class="list-disc list-inside">
        <li>Contact our support team</li>
        <li>Review our terms of service</li>
        <li>Wait for further instructions from our team</li>
    </ul>
</main>
% include('_footer.html')